body{
    padding: 0;
    margin: 0;
}
.header{

    width: 100%;
    height: 3.5rem;
    background-color: rgb(60, 159, 63);

}

.main-list-tems{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}